* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: #F4F2F3;
  font-family:  'Comfortaa', sans-serif;

  a {
    text-decoration: none;
    color: black;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .button-catalog,
  .button-send {
    font-family:  'Comfortaa', sans-serif;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    //background-color: #444748;
    background-color: #5A5E61;
    height: 3rem;
    width: 10rem;
    color: #F4F2F3;
    margin-top: 3rem;
    //align-self: flex-start;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  input {
    font-family:  'Comfortaa', sans-serif;
    font-size: 1.2rem;
    border-radius: 2.5rem;
    margin: 0.5rem 0;
    padding-left: 2rem;
    border: 2px solid rgba(90,94,97,0.2);
    background-color: transparent;
    height: 3.5rem;
  }

  @media screen and (max-width: 1700px) {
    h1 {
      font-size: 3rem;
    }

    .medium-text {
      font-size: 2rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    .small-text {
      font-size: 1.2rem;
    }

    .header__banner-content {
      margin-top: 4rem;
      margin-left: 6rem;
    }

    &__icons {
      width: 10vw;
    }

    .like,
    .basket {
      width: 0.8rem;
    }

    .screen-catalog__img {
      max-height: 60vh;
    }

    input {
      max-width: 45rem;
    }

    .subscription__phone,
    .subscription__email {
      max-width: 20rem;
    }


  }

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
  }

  .medium-text {
    font-family: "Playfair Display", serif;
    font-size: 2.6rem;
  }

  .small-text {
    font-size: 1.4rem;
    //margin-top: 0.5rem;
  }

  //cards

  .goods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
  }

  .candle-card {
    max-width: 24rem;
  }

  .card-img {
    background-color: rgba(90,94,97,0.1);
    padding: 4rem 0;
    margin-bottom: 1rem;
  }

  .catalog-card-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .catalog-card-price,
  .catalog-like-button {
    padding-right: 1rem;
  }

  .catalog-icon {
    width: 1.8rem;
  }

  .catalog-basket-button {
    background-color: #D1C4CE;
    border-radius: 50%;
    padding: 0.4rem;
  }


  .header {

    &__background {
      display: flex;
      flex-direction: column;
      position: absolute;

      img {
        filter: brightness(70%);
        z-index: 0;
        max-width: 100vw;
      }
    }

    .header-content {
      background-color: rgba(244, 242, 243, 0.6);
      display: flex;
      position: relative;
      z-index: 1;
      width: 100vw;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100vw;
      padding: 1rem 4rem;
      font-size: 1rem;
    }

    &__logo {
      font-family: "Permanent Marker", cursive;
      font-size: 3rem;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 5vw;
    }

    .like,
    .basket {
      width: 2rem;
    }

    &__banner-content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-top: 6rem;
      margin-left: 6rem;
    }

    &__button {
      background-color: #444748;
    }
  }

  .screen-catalog {
    padding: 16rem 0 6rem;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      padding: 0 4rem;
    }

    &__button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .popular-goods {

    padding: 2rem 0;

    .small-text {
      text-align: left;
    }

    p {
      text-align: center;
    }

    &__card-img-left {
      border-bottom-left-radius: 100%;
    }

    &__card-img-right {
      border-top-right-radius: 100%;
    }

    &__card-name-center {
      line-height: 1.36rem;
    }

  }

  .advantages,
  .order-and-delivery{
    padding: 2rem 0;

    &__content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 4rem 0;
    }

    &__title {
      padding: 1.5rem 0;
      font-weight: bold;
    }

    &__img-background {
      background-color: rgba(90,94,97,0.1);
      border-radius: 50%;
      padding: 2rem;
      max-width: 12rem;
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    &__item-container {
      max-width: 24rem;
    }
  }

  .questions {
    padding: 2rem 0;


    &__content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 4rem 0;
    }

    &__text-container {
      flex-direction: column;
    }

    &__item {
      width: 60rem;
      border-bottom: 2px solid rgba(90,94,97,0.2);
    }

    &__question {
      padding: 1.5rem 0;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__question:after {
      content: "+";
      font-family: 'Comfortaa', sans-serif;
      font-size: 2.5rem;
      font-weight: lighter;
      color: rgba(90,94,97,0.5);
    }

    &__answer {
      display: none;
      padding-bottom: 1.5rem;
    }

  }

  .subscription {
    padding: 2rem 0;

    &__container {
      background-color: rgba(90,94,97,0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      text-align: left;
    }

    &__content {
      flex-direction: column;
      margin-left: 12rem;
    }

    &__fio {
      width: 55rem;
    }

    &__phone,
    &__email {
      width: 25rem;
    }

    &__phone {
      margin-right: 4.8rem;
    }

    .small-text {
      padding: 1.5rem 0;
    }

    &__checkbox {
      margin: 1.5rem 0;
      height: 1rem;
    }

    button {
      margin: 1.5rem 0;
      width: 15rem;
    }
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #444748;
    color: #F4F2F3;

    &__logo {
      font-family: "Permanent Marker", cursive;
      font-size: 4rem;
      line-height: 3.5rem;

    }

    p,
    input {
      color: #F4F2F3;
    }

    input {
      border: 2px solid rgba(244, 242, 243,0.7);
      width: 25rem;
      height: 3rem;
    }

    &__menu {
      display: flex;
      flex-direction: column;

    }
  }
}

