body {
  .catalog {
    padding: 2rem 0;

    &__content {
      padding: 0 4rem;
      display: flex;
      justify-content: space-around;
    }

    &__title {
      font-size: 2.8rem;
      text-align: center;
      padding: 2rem 0;
      font-weight: initial;
    }

    &__sidebar {
      //padding-left: 4rem;
      //padding-right: 1rem;
      display: flex;
      flex-direction: column;
      max-width: 30rem;
      height: 100vh;
    }

    //.candle-card {
    //  margin-right: 3rem;
    //}

    .goods {
      padding: 0;
      flex-wrap: wrap;
      max-width: 80vw;
    }

    //&__filter-buttons {
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: center;
    //}

    //.button-filter {
    //  margin: 1rem 0;
    //  width: 12rem;
    //}

    //&__filter-reset {
    //  background-color: #A06C55;
    //}

    &__filter-title {
      font-weight: bold;
      padding-bottom: 1rem;
    }


    //input {
    //  max-height: 1rem;
    //  margin: 0;
    //}
    //
    //label {
    //  margin-left: 0.5rem;
    //}

    &__filter-brand {
      display: flex;
      align-items: center;
      padding: 0.8rem 0;
    }

    &__filter-button {
      padding-right: 1rem;
      img {
        content: url("/images/filter-star.png");
        width: 1.2rem;
      }
    }
  }
}