body {
  .goods {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
  }

  .candle-card {
    max-width: 26rem;
    //max-height: 30rem;
    margin-bottom: 4rem;
  }

  .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(90,94,97,0.1);
    //padding: 3rem 0;
    //max-width: 22rem;
    height: 20rem;
    margin-bottom: 1rem;

    img {
      max-height: 16rem;
    }
  }

  .catalog-card-bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .catalog-card-price,
  .catalog-like-button {
    padding-right: 1rem;
  }

  .catalog-icon {
    width: 1.8rem;
  }

  .catalog-basket-button {
    background-color: #D1C4CE;
    border-radius: 50%;
    padding: 0.4rem;
  }
}