body {
  .questions {
    padding: 2rem 0;


    &__content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 4rem 0;
    }

    &__text-container {
      flex-direction: column;
    }

    &__item {
      width: 60rem;
      height: 4rem;
      border-bottom: 2px solid rgba(90,94,97,0.2);
      transition: height linear 0.8s;
    }

    &__question {
      margin: 1.5rem 0;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__question:after {
      content: "+";
      font-family: 'Comfortaa', sans-serif;
      font-size: 2.5rem;
      font-weight: lighter;
      color: rgba(90,94,97,0.5);
    }

    &__answer {
      opacity: 0;
    }

    &__answer.active {
      opacity: 100%;
      transition: opacity 1s ease-in-out 0.5s;
    }

    &__item.active {
      height: 9rem;
      transition: height linear 1s;
    }
  }

}