body {
  .subscription {
    padding: 2rem 0 0;

    &__container {
      background-color: rgba(90,94,97,0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      text-align: left;
    }

    &__content {
      flex-direction: column;
      margin-left: 12rem;
    }

    &__fio {
      width: 55rem;
    }

    &__phone,
    &__email {
      width: 25rem;
    }

    .small-text {
      padding: 1.5rem 0;
    }

    &__checkbox {
      margin: 1.5rem 0;
      height: 1rem;

    }

    &__inputs-phone-and-email {
      display: flex;
      justify-content: space-between;
      width: 60rem;
    }

    label {
      margin-left: 0.5rem;
    }

    &__checkbox-container {
      display: flex;
      align-items: center;
    }

    button {
      margin: 1.5rem 0;
      width: 15rem;
    }
  }
}