body {
  .order {
    padding-bottom: 2rem;

    &__container {
      display: flex;
      justify-content: space-around;
      padding: 2rem 0;
    }


    &__bread-crumbs {
      padding: 2rem 0;
    }

    &__title {
      font-size: 2.8rem;
      font-weight: normal;
      //margin-left: 4rem;
      text-align: center;
    }

    &__select-payment-method-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 7rem;
      padding-bottom: 1.5rem;
      img {
        max-width: 1.2rem;
        margin-right: 0.5rem;
      }
    }

    &__online-payment,
    &__card-payment,
    &__cash-payment {
      display: flex;
      align-items: center;
    }

    &__goods-list {
      scrollbar-color: #444748 transparent;
      scrollbar-width: thin;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 4.6rem;
      height: 70vh;

      img {
        max-width: 10rem;
        max-height: 10rem;
        margin-right: 2rem;
      }
    }

    &__item-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 44rem;
      border-bottom: 2px solid rgba(90,94,97,0.3);
    }


    .big-input {
      width: 37rem;
    }

    &__inputs-phone-and-city,
    &__inputs-house-and-apartment,
    &__inputs-validity-period-and-cvc {
      display: flex;
      justify-content: space-between;
      width: 40rem;
    }


    ul {
      list-style-position: inside;
      padding-left: 1rem;
      //padding-bottom: 1rem;
    }

    &__order-form-button {
      width: 15rem;
      margin: 0 2rem 0 0;
    }

    .small-text {
      padding: 1.5rem 0;
    }

    &__delete-item {
      margin-left: 2rem;
      margin-top: 1.6rem;
      align-self: flex-start;
    }

    &__delete-button {
      img {
        max-width: 1.5rem;
      }
    }

    &__form-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }

    &__buttons {
      flex-direction: row;
      justify-content: space-between;
      max-width: 60rem;
    }

    &__back-in-basket {
      margin: 0;
      width: 18rem;
    }
  }
}